body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #181c1e;
  font-size: 14px;
  overflow-x: hidden;
}

.btn-roi {
  margin-top: 35px;
  background-color: #800225;
  padding: 10px 24px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
}

/*
==============
Header
==============
*/
header {
  margin-top: 15px;
}
header .header-info ul li:first-child {
  border-right: 1px solid #000000;
  padding-right: 15px;
}
header .container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
header .header-info ul li {
  margin-left: 12px;
  font-size: 14px;
}
header .header-info ul li span {
  text-transform: capitalize;
}
header .header-info ul li a {
  text-decoration: #800225;
  color: #800225;
}

/*
==============
Navbar
==============
*/
nav .navbar-nav {
  margin-top: 15px;
}
nav .navbar-nav .nav-item a {
  margin-right: 15px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6) !important;
  font-weight: 600;
  text-transform: uppercase;
}

/*
==============
Sliders
==============
*/
#carouselExampleCaptions {
  border-bottom: 10px solid #800225;
}
#carouselExampleCaptions .carousel-inner > .item {
  position: relative;
  max-height: 600px;
}
#carouselExampleCaptions .carousel-caption {
  position: absolute;
  top: 35%;
  right: -15%;
  transform: translateY(-50%);
}
#carouselExampleCaptions .carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px;
  border-radius: 50%;
  height: 10px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: white;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
#carouselExampleCaptions .carousel-indicators .active {
  background-color: #800225;
}
#carouselExampleCaptions .carousel-caption {
  color: #800225;
}
#carouselExampleCaptions .carousel-control-next-icon {
  padding: 15px;
  background-color: #800225;
  border-radius: 5px;
}
#carouselExampleCaptions .carousel-control-prev-icon {
  padding: 15px;
  background-color: #800225;
  border-radius: 5px;
}

/*
==============
About us
==============
*/
#about-us .about-us-caption {
  background-image: url("../img/abt-bg-new.png");
  background-position: 50% center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 0;
  text-align: center;
}
#about-us .about-us-caption h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  text-align: left;
  margin-left: 20px;
}
#about-us .about-us-caption h2 strong {
  display: block;
  margin-left: 40px;
}
#about-us .about-us-caption p {
  font-size: 25px;
  padding: 0 25px;
  text-align: left;
}
#about-us .youtube-video {
  width: 100%;
  height: 100%;
}
#about-us .youtube-video iframe {
  width: 100%;
  height: 100%;
}

/*
============
Offers
============
*/
#offers {
  padding: 50px 0;
}
#offers .offers-title h2 {
  font-size: 40px;
  line-height: 45px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}
#offers .offers-title h2 strong {
  display: block;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
}
#offers .offer-widget {
  margin-top: 50px;
}
#offers .offer-widget h2 {
  margin: 15px 0;
  text-transform: uppercase;
  font-size: 20px;
}
#offers .offer-widget a {
  font-size: 14px;
  line-height: 14px;
  color: #872323;
  padding: 7px 10px;
  display: block;
  margin: 0px auto 0;
  text-transform: uppercase;
}

/*
============
contact us
============
*/
#contact-us {
  padding: 60px 0;
  background: #f0f0f4;
}
#contact-us .form-control {
  display: block;
  width: 100%;
  padding: 0.9rem 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* border-radius: .25rem; */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#contact-us .btn-submit {
  margin-top: 35px;
  background-color: #800225;
  padding: 9px 60px;
  border-radius: 2px;
  color: white;
  font-size: 15px;
  text-align: center;
}
#contact-us .contact-us-title h2 {
  font-size: 30px;
  line-height: 45px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}
#contact-us .contact-us-title h2 strong {
  display: block;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 5px;
}

/*
============
Footer
============
*/
#footer {
  background: #800225;
  padding: 50px 0 20px;
  border-bottom: 1px dashed #ac5970;
}
#footer .footer-widget {
  text-align: center;
}
#footer .footer-widget h2 {
  font-size: 18px;
  margin-bottom: 15px;
  color: white;
  text-align: left;
  text-transform: uppercase;
}
#footer .footer-widget li a {
  color: #f4b4b4;
  display: block;
  text-decoration: none;
  font-size: 12px;
  border-bottom: 1px dashed #ac5970;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  transition: 1s color ease-in;
  text-align: left;
}
#footer .footer-widget li a:hover {
  color: white;
}
#footer .footer-widget p {
  color: #f4b4b4;
  text-align: left;
  font-size: 12px;
}
#footer .footer-widget p.first-child {
  border-bottom: 1px dashed #ac5970;
  padding-bottom: 15px;
  margin-top: 35px;
}
#footer .footer-widget-last ul {
  margin-top: 25px;
}
#footer .footer-widget-last ul li a {
  border-bottom: none;
  margin-right: 30px;
}
#footer .footer-widget-last ul li a i {
  font-size: 20px;
}

/*
================
 Copy right
================
*/
#copy-right {
  background: #800225;
  padding: 20px 0;
}
#copy-right h2 {
  color: #f4b4b4;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 600;
}

/*
================
****************
 Blog page
****************
================
*/
#main-content {
  border-top: 40px solid #800225;
}
#main-content .main-content {
  padding: 50px 0;
}
#main-content .main-content .article {
  width: 100%;
  background-color: #f0f0f4;
  padding-bottom: 15px;
  margin-top: 25px;
}
#main-content .main-content .article span {
  padding: 10px;
  color: #807f7f;
}
#main-content .main-content .article img {
  width: 100%;
  margin-bottom: 15px;
}
#main-content .main-content .article .article-caption h2 {
  font-size: 22px;
  font-weight: 700;
  margin: 10px 0;
  padding: 0 12px;
}
#main-content .main-content .article .article-caption p {
  padding: 10px;
}
#main-content .main-content .article .article-caption a {
  color: #800225;
  text-decoration: none;
  padding: 20px;
  text-transform: uppercase;
}

/*
================
****************
 Blog-post page
****************
================
*/
#blog-post {
  padding: 50px 0;
}
#blog-post .post-caption img {
  width: 100%;
}
#blog-post .post-caption-title {
  border-top: 20px solid #800225;
  margin-top: 20px;
}
#blog-post .post-caption-title h2 {
  margin-top: 20px;
}
#blog-post .post-caption-title p {
  font-size: 15px;
}

/*
==================
 Media Query
==================
*/
@media only screen and (max-width: 480px) {
  header .header-info ul li:first-child {
    border-right: 1px solid transparent;
    padding-right: 15px;
  }

  header .header-info ul li {
    margin-left: 12px;
    text-align: center;
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
